link{
    width: 100px;
}
body{
    background-color: #CCF3FF;
}
nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #0dcaf0;
}
#title{
    color: #033843;
}
#search{
    color: #033843; 
    border-color: #033843;
}
#join{
   background-color: #0dcaf0; 
   color: #033843;
}