nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #0dcaf0;
}
#title{
    color: #033843;
}
img{
    width: 80px;
}
body {
  background-color: #CCF3FF;
  font-family: 'Segoe UI', sans-serif;
  padding-top: 70px;
}
.signup-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 500px;
  margin: auto;
}
.btn-custom {
  background-color: #0dcaf0;
  color: #033843;
  border: none;
  font-weight: 600;
}
.btn-custom:hover {
  background-color: #0bb6d6;
}